* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(37,94,233);
    padding: 10px 0;
    color: white;
}

footer{
    background-color: lightcyan;
}

/* INIZIO LAYOUT */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-short{
    max-width: 990px;
    margin: 0 auto;
}

.row {
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
}

li a{
    padding: 0 20px;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
    line-height: 1.5;
}

.col-25{
    width: 25%;
    padding: 5px 0;
}

.col-50{
    width: 50%;
    padding: 5px 0;
}

.col-100{
    width: 100%;
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
}

.col-33{
    width: calc(100% / 6 * 2);
    height: 350px;
}

.col-17{
    width: calc(100% / 6);
    height: 350px;
}

.col-mini{
    font-size: 15px;
    padding: 5px;
}
/* FINE LAYOUT */
/* INIZIO UTILITY */
/* INIZIO UTILITY PADDING E MARGIN*/
.py-20{
    padding: 20px 0;
}

.pt-5{
    padding-top: 5px;
}

.pb-20{
    padding-bottom: 20px;
}

.mb-1{
    margin-bottom: 1px;
}

.pt-20{
    padding-top: 20px;
}

.mx-10{
    margin: 0 10px;
}

.my-20{
    margin: 20px 0;
}
/* FINE UTILITY PADDING E MARGIN*/
/* INIZIO UTILITY VARIE */
.text-white{
    color: white;
}

.text-black{
    color: rgb(30, 30, 30);
}

.decoration-none{
    text-decoration: none;
}

.btn{
    padding: 10px 20px;
    border-radius: 20px;
}

.btn-white{
    background-color: white;
    color: black;
}

.btn-black{
    background-color: rgb(30, 30, 30);
    color: white;
}

.btn-blue{
    background-color: rgb(128, 128, 255);
    color: white;
}
/* FINE UTILITY VARIE */
/* INIZIO UTILITY FLEX */
.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

/* .justify-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
} */

.space-between{
    justify-content: space-between;
}

.border-dashed{
    border: 2px dotted black;
}
/* FINE UTILITY FLEX */
/* INIZIO UTILITY BACKGROUND */
.bg-main{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.bg-stars{
    background-image: url(../img/stars.svg);
    padding: 30px;
    background-repeat: no-repeat;
    background-position: top center;
}

.bg-orange{
    background-color: orange;
}

.bg-blue{
    background-color: blue;
}

.bg-violet{
    background-color: violet;
}

.bg-lightblue{
    background-color: rgb(86, 154, 255);
}

.bg-pink{
    background-color: pink;
}

.bg-lightgray{
    background-color: lightgray;
}

.bg-green{
    background-color: green;
}

.bg-black{
    background-color: rgb(43, 43, 43);
}

.bg-salmon{
    background-color: salmon;
}

.bg-cyan{
    background-color: cyan;
}

.bg-lightcyan{
    background-color: rgb(129, 255, 255);
}
/* FINE UTILITY BG-COLOR*/
/* FINE UTILITY */